appdirs==1.4.3
boto3==1.10.12
botocore==1.13.50
click==7.1.1
distlib==0.3.0
docutils==0.15.2
filelock==3.0.12
Flask==1.0.2
Flask-Login==0.4.1
Flask-WTF==0.14.2
importlib-metadata==1.6.0
itsdangerous==1.1.0
Jinja2==2.10
jmespath==0.9.3
MarkupSafe==1.1.0
mysql-connector-python==8.0.17
mysqlclient==1.4.2
numpy==1.17.2
opencv-python==4.1.1.26
passlib==1.7.2
pathvalidate==0.24.1
Pillow==5.4.1
protobuf==3.6.1
python-dateutil==2.8.0
s3transfer==0.2.0
six==1.12.0
urllib3==1.24.2
virtualenv==20.0.17
Wand==0.5.7
Werkzeug==0.16.0
WTForms==2.2.1
zipp==3.1.0
